<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head',{ title: 'Nuevo' }) %>

  <body>
    <%- include('../partials/header-admin') %>
      <main class="container">
        <section class="row my-5">
          <div class="col-12 col-md-10 mx-auto">
            <div class="card">
              <div class="card-header">
                <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Agregar producto</li>
                  </ol>
                </nav>
                <h3 class="cart-title">Agregar producto</h3>
                <hr>

              </div>
              <div class="card-body">
                <form action="/products/store" method="POST" enctype="multipart/form-data" class="row">
                  <div class="col-12 col-md-6 mb-3">
                    <div class="form-floating">

                      <input name="name" type="text" class="form-control <%= (locals.errors && errors.name) && 'is-invalid' %>" id="name" value="<%= locals.old && old.name %>">
                      <label for="name">Nombre</label>
                      <small class="text-danger ms-2"><%= (locals.errors && errors.name) && errors.name.msg %></small>

                    </div>

                  </div>

                  <div class="col-12 col-md-3 mb-3">
                    <div class="form-floating">
                      <input name="price" type="text" class="form-control" id="price" <%= (locals.errors && errors.price)  && 'is-invalid'%> value="<%= locals.old && old.price %>">
                      <label for="price">Precio</label>
                      <small class="text-danger ms-2"><%= (locals.errors && errors.price) && errors.price.msg %></small>

                    </div>
                  </div>
                  <div class="col-12 col-md-3 mb-3">
                    <div class="form-floating">
                      <input name="discount" type="text" class="form-control" id="discount" <%= (locals.errors && errors.discount)  && 'is-invalid'%> value="<%= locals.old && old.discount %>">
                      <label for="discount">Descuento</label>
                      <small class="text-danger ms-2"><%= (locals.errors && errors.discount) && errors.discount.msg %></small>

                    </div>
                  </div>
                  <div class="col-12 col-md-4 mb-3">
                    <div class="form-floating ">
                      <select name="category" class="form-select" id="category"
                        aria-label="Floating label select example"<%= (locals.errors && errors.category)  && 'is-invalid'%> value="<%= locals.old && old.category %>">
                        <option value="" selected hidden>Seleccione...</option>
                        <% categories.forEach(c => { %>
                          <option value="<%= c.id %>" <%= (locals.old && old.categoryId) && old.categoryId == c.id ? 'selected' : null %>><%= c.name %></option>

                        <% }) %>
                      </select>
                      <label for="category">Categoría</label>
                      <small class="text-danger ms-2"><%= (locals.errors && errors.category) && errors.category.msg %></small>

                    </div>
                  </div>
                  <div class="col-12 col-md-4 mb-3">
                    <div class="form-floating ">
                      <select name="originId" class="form-select" id="originId"
                        aria-label="Floating label select example" <%= (locals.errors && errors.originId)  && 'is-invalid'%> value="<%= locals.old && old.originId %>"> >
                        <option value="" selected hidden>Seleccione...</option>
                        <% origins.forEach(o => { %>
                          <option value="<%= o.id %>"><%= o.country %></option>

                        <% }) %>
                      </select>
                      <label for="origin">Origen</label>
                      <small class="text-danger ms-2"><%= (locals.errors && errors.origins) && errors.origins.msg %></small>

                    </div>
                  </div>
                  <div class="col-12 col-md-4 mb-3">
                    <div class="form-floating ">
                      <select name="flavor" class="form-select" id="flavor"
                        aria-label="Floating label select example" >
                        <option value="" selected hidden>Seleccione...</option>
                        <% flavors.forEach(f => { %>
                          <option value="<%= f.id %>"><%= f.name %></option>

                        <% }) %>
                      </select>
                      <label for="flavor">Sabores</label>
                      <small class="text-danger ms-2"><%= (locals.errors && errors.flavor) && errors.flavor.msg %></small>

                    </div>
                  </div>
                  <div class="col-12 mb-3">
                    <div class="form-floating">
                      <textarea name="description" class="form-control" id="description"
                       style="resize: none; height: 200px" <%= (locals.errors && errors.description) && 'is-invalid' %> id="description" style="height: 150px;"><%= locals.old && old.description %></textarea>
                      <label for="floatingTextarea2">Descripción</label>
                      <small class="text-danger ms-2"><%= (locals.errors && errors.description) && errors.description.msg %></small>

                    </div>
                  </div>
               
                  <div class="col-12 mb-3  d-flex justify-content-between">
                    <div class="">
                      <input name="image" type="file" class="form-control" id="image" hidden>
                      <label class="btn btn-lg btn-outline-secondary w-100" for="image">Cargar imagen</label>
                      <small class="text-danger ms-2"><%= (locals.errors && errors.image) && errors.image.msg %></small>

                    </div>
                    <button type="submit" class="btn btn-lg btn-dark">Guardar cambios</button>
                  </div>
                
              </div>

              </form>

            </div>

          </div>

          </div>
        </section>
      </main>
      <%- include('../partials/scripts') %>
  </body>

</html>