<!DOCTYPE html>
<html lang="es">

<head>

  <%- include('../partials/head') %>
    <%- include('../partials/scripts') %>
      <link rel="icon" type="image/x-icon" href="/img/fondo-accesorios-cafe.PNG">
      <title>Cafeinatopia - Editar Producto</title>

</head>

<body class="dashboard-body">

  <header>
    <%- include('../partials/header-admin') %>
  </header>

  <main class="create-form">
    <section class="row my-2">
        <div class="col-12 col-md-9 mx-auto">
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                          <li class="breadcrumb-item"><a href="/dashboard" class="text-primary">Home Dashboard</a></li>
                          <li class="breadcrumb-item active" aria-current="page">Editar articulo</li>
                        </ol>
                      </nav>
                </div>
                <div class="card-body">
                    <form action="/products/editar-articulo/<%= id %>?_method=PUT" method="POST" class="row d-flex justify-content-center align-items-center" enctype="multipart/form-data">
                          <h3>Editando:"<%= name %>"</h3>
                          <hr>
                          <div class="col-12 col-md-6 mb-3">
                            <div class="form-floating">
                              <input name="id" type="text" class="form-control" id="id" value="<%= id %>" >
                              <label for="id">ID</label>
                            </div>
                          </div>
                          <div class="col-12 col-md-4 mb-3">
                              <div class="form-floating ">
                                  <input name="nombre" type="text" class="form-control" id="nombre" value="<%= name %>" >
                                  <label for="nombre">Nombre del articulo</label>
                                </div>
                          </div>
                          <div class="col-12 col-md-3 mb-3">
                                  <input name="mainImage" type="file" class="form-control" id="mainImage" hidden>
                                  <label class="btn btn-lg btn-outline-dark w-100" for="mainImage">Imagen principal</label>
                              </div>
                              <div class="col-12 col-md-3 mb-3">
                                <input  name="images" type="file" class="form-control" id="images" hidden multiple>
                                <label class="btn btn-lg btn-outline-dark w-100" for="images">Imágenes</label>
                            </div>
                          <div class="col-12 col-md-4 mb-3">
                            <div class="form-floating">
                                <select name="categoria" class="form-select" id="category" aria-label="Floating label select example">
                                  <option value="<%= category %>" selected hidden></option>
                                  <option value="Cafeteras"<%= category === 'Cafeteras' && 'selected'%>>Cafeteras</option>
                                  <option value="Capsulas" <%= category === 'Capsulas' && 'selected'%>>Cápsulas</option>
                                  <option value="Cafeengrano" <%= category === 'Cafeengrano' && 'selected'%>>Café en Grano</option>
                                  <option value = "Los mas buscados" <%= category === 'Los mas buscados' && 'selected'%>> Los más Buscados</option>
                                  <option value = "Ofertas" <%= category === 'Ofertas' && 'selected'%>> Ofertas</option>
                                </select>
                                <label for="categoria">Categoría</label>
                              </div>
                          </div>
                          <div class="col-12 col-md-4 mb-3">
                            <div class="form-floating">
                                <input name="precio" type="number" class="form-control" id="precio" value="<%= price %>" >
                                <label for="precio">Precio actual: </label>
                            </div>
                          </div>
                        <div class="col-12 col-md-4 mb-3">
                          <div class="form-floating">
                              <input name="stock" type="number" class="form-control" id="stock" value="<%= stock %>">
                              <label for="stock">Stock actual:</label>
                          </div>
                        </div>
                            <div class="col-12 col-md-4 mb-3">
                              <div class="form-floating">
                                  <select name="flavor" class="form-select" id="flavor" aria-label="Floating label select example">
                                      <option value="" selected hidden></option>
                                      <option value="Crema"<%= sabor === 'Crema' && 'selected'%>>Crema</option>
                                      <option value="Chocolate" <%= sabor === 'Chocolate' && 'selected'%>>Chocolate</option>
                                      <option value="espreso" <%= sabor === 'espreso' && 'selected'%>>espreso</option>
                                      <option value="Molido" <%= sabor === 'Molido' && 'selected'%>>Molido</option>
                                      <option value="Leche" <%= sabor === 'Leche' && 'selected'%>>Leche</option>
                                      <option value="Grano" <%= sabor === 'Grano' && 'selected'%>>Grano</option>
                                      <option value="Americano" <%= sabor === 'Americano' && 'selected'%>>Americano</option>
                                      <!-- Agrega más opciones si es necesario -->
                                  </select>
                                  <label for="flavor">Sabor</label>
                              </div>
                            </div>
                          <div class="col-12 col-md-4 mb-3">
                            <div class="form-floating ">
                                <input name="descuento" type="number" class="form-control" id="descuento" value="<%= descuento %>">
                                <label  for="descuento">Descuento -% </label>
                            </div>
                          </div>
                    
                        
                        <div class="col-10 mb-3">
                            <div class="form-floating">
                              
                                <label for="descripcion"></label>
                                <textarea name="descripcion" class="form-control" id="descripcion" style="height: 100px;"><%= description %></textarea>
                                
                              </div>
                        </div>
                      
                        <div class="col-7 d-flex justify-content-end">
                            <button type="submit"class="btn btn-lg btn-dark">Guardar Cambios</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </section>
  </main>
</body>
</html>