<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head',{title: 'Dashboard'}) %>

<body>
    <%- include('./partials/header') %>
   
<main class="container">
    <section class="row my-5"> 
        <div class="col-12 col-md-12 mx-auto">
            <div class="card">
                <div class ="card-header d-flex justify-content-between">
                    <h4 class="cart-title">Productos</h4>
                    <a class="btn btn-dark" href="/products/agregar">Nuevo</a>
                </div>
                <div class="card-body table-responsive">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Descripción</th>
                            <th scope="col">Precio</th>
                          </tr>
                        </thead>
                        <tbody>
                            <% products.forEach(({id,name,description,price,image,discount}) => { %>
                                <tr>
                                    <th scope="row"><%= id %></th>
                                    <td><%= name %></td>
                                    <td><%= description %></td>
                                    <td><% if (discount>0) { %>
                                        <% var discountedPrice = price - (price * (discount / 100)); %>
                                        <p><%= discountedPrice %> </p>
                                    <% } else { %>
                                        <p><%= price %></p>
                                    <% } %>
                                  <td>
                                    <div class="d-flex gap-2">
                                        <button type="submit" class="btn btn-sm btn-outline-primary" data-bs-toggle="modal" data-bs-target="#showProductModal<%= id %>"><i class="fa-solid fa-eye"></i></button>
                                        <a class="btn btn-sm btn-outline-success" href="/products/editar-articulo/<%= id %>"><i class="fa-solid fa-pencil"></i></a>
                                        <button type="submit" class="btn btn-sm btn-outline-danger" data-bs-toggle="modal" data-bs-target="#modalDelete<%= id %>"><i class="fa-solid fa-trash"></i></button>
                                        <%- include('./partials/modal-product-dashboard',{ id,
                                            name, description, price, image
                                            }) %>
                                        <%- include('./partials/modal-delet-products',{ id, name
                                            }) %>
                                    </div>
                                </td>
                            </tr>
                              
                            <% }) %>
                            
                          
                      </table>
                    
                </div>
                    
            </div>
                    
        </div>


            
        

    </section>



</main>
    


    
    <%- include('./partials/scripts') %>
</body>
</html>