<!DOCTYPE html>
<html lang="es">
  <%- include('./partials/head', {title: 'Home | Cafeinatopia' }) %>

  <body>
    <%- include('./partials/header') %>

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
    />
    <a
      href="https://api.whatsapp.com/send?phone=1234567891&text=Hola,%20me%20gustaria%20Obtener%20más%20información"
      class="float pulse"
      target="_blank"
    >
      <i class="fa fa-whatsapp my-float"></i>
    </a>

    <main class="index__main">
      <!--banner-->
      <div class="index__main__banner">
        <div
          id="carouselExampleIndicatorsAutoplaying"
          class="carousel slide"
          data-bs-ride="carousel"
        >
          <div class="carousel-indicators">
            <button
              type="button"
              data-bs-target="#carouselExampleIndicatorsAutoplaying"
              data-bs-slide-to="0"
              class="active"
              aria-current="true"
              aria-label="Slide 1"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicatorsAutoplaying"
              data-bs-slide-to="1"
              aria-label="Slide 2"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicatorsAutoplaying"
              data-bs-slide-to="2"
              aria-label="Slide 3"
            ></button>
          </div>

            <div class="carousel-inner">
            <div class="carousel-inner">

          <div class="carousel-inner">

            <div class="carousel-item active d-item" data-bs-interval="2000">
              <img
                src="/img/img-el-aroma-de-la-vida-cafeinatopia.png"
                class="d-block w-100 d-img img-fluid"
                alt="Slide 1"
              />

              <div class="carousel-caption col-md-4">
                <button class="btn btn-primary px-1 py-0 fs-5 mt-5">
                  Quiero café
                </button>
              </div>
            </div>

            <div class="carousel-item d-item" data-bs-interval="2000">
              <img
                src="/img/img-siempre-cerca-cafeinatopia.png"
                class="d-block w-100 d-img img-fluid"
                alt="Slide 2"
              />
            </div>

            <div class="carousel-item d-item">
              <img
                src="/img/img-cafe-molido-cafeinatopia.png"
                class="d-block w-100 d-img img-fluid"
                alt="Slide 3"
              />
            </div>
          </div>

          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleIndicatorsAutoplaying"
            data-bs-slide="prev"
          >
            <span
              class="carousel-control-prev-icon prevnex"
              aria-hidden="true"
            ></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleIndicatorsAutoplaying"
            data-bs-slide="next"
          >
            <span
              class="carousel-control-next-icon prevnex"
              aria-hidden="true"
            ></span>
            <span class="visually-hidden">Next</span>
          </button>
          </div>
          </div>

        </div>

      </div>
      <!--/banner-->

      <!--contenedores-->
      <div class="index__contenedores">
        <div class="index__div__container">
          <img
            class="index__photo"
            src="/img/cafe-molido.png"
            alt="cafe-molido-cafeinatopia"
          />
          <a
            class="contenedor-cafe-molido"
            href="/products?id=5&category=Café Molido"
            >CAFÉ MOLIDO</a
          >
        </div>

        <div class="index__div__container">
          <img
            class="index__photo__capsulas"
            src="/img/capsulas-cafeinatopia.png"
            alt="capsulas-de-cafe-cafeinatopia"
          />
          <a class="contenedor-capsulas" href="/products?id=3&category=Cápsulas"
            >CÁPSULAS</a
          >
        </div>

        <div class="index__div__container">
          <img
            class="index__photo__cafeteras"
            src="/img/cafeteras-cafeinatopia.png"
            alt="cafeteras-cafeinatopia"
          />
          <a
            class="contenedor-cafeteras"
            href="/products?id=1&category=Cafeteras"
            >CAFETERAS</a
          >
        </div>
      </div>
      <!--/contenedores-->

      <!--carrusel capsulas-->
      <section class="index__section__carousel__sabor">
        <h2>Elegí tu sabor preferido</h2>

        <div class="swiper swiper-elegidos">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <!-- Slides -->
            <% [...capsulas, ...capsulas].forEach(({id, name, image}) => { %>
            <div class="swiper-slide">
              <a href="/products/productDetail/<%= id %>"
                ><img src="/img/<%= image %>" alt="Cápsula azul"
              /></a>
            </div>
            <% }) %>
          </div>

          <!-- If we need navigation buttons -->
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
          </div>
          </div>

        </div>

      </section>
      <!--/carrusel capsulas-->

      <!--section box-->
      <section class="index__section__box">
        <img
          class="box"
          src="/img/caja-seleccion-cafeinatopia.png"
          alt="caja-capsulas-seleccionadas-cafeinatopia"
        />

        <div class="index__section__box__coffee-capsule">
          <h3>Coffee Capsule Box</h3>
          <p id="p-arma">
            Armá tu box de cápsulas con la selección de<br />tu preferencia para
            crear una experiencia<br />de café única y a medida
          </p>
          <p id="p-disfruta">¡Disfruta del café perfecto!</p>
          <a
            class="index__section__box__coffee-capsule-button"
            style="text-decoration: none"
            href="/products/box"
            >Viví la experiencia</a
          >
        </div>
      </section>
      <!--/section box-->

      <!--section Destacados-->
      <section
        class="index__section__carousel__sabor"
        style="position: absolute; top: 1980px; left: 0px; width: 100%"
      >
        <h2>Destacados</h2>

        <div class="d-flex flex-column flex-lg-row justify-content-between gap-3" >
          <% destacados.forEach(({id, image, name}) => { %>
            <a href="/products/productDetail/<%= id %>" style="text-decoration: none;">
              <div class="card shadow card-destacado" style="width: 18rem;" >
                <img src="/img/<%= image %>" height="180px" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><%= name %></h5>
                </div>
              </div>
            </a>
          <% }) %>
          <style>
            .card-destacado:hover {
              transition: all 0.5s ease;
              transform: scale(1.05);
            }
          </style>
        </div>
      </section>
      <!--section destacados-->

      <!--section complementos-->
      <section class="index__section__complementos">
        <img
          id="blister-choco"
          src="/img/chocolate-con-almendras.png"
          alt="brik de chocolate con almendras-cafeinatopia"
          width="400"
          height="400"
        />

        <div class="complementos">
          <h3>Complementos</h3>
          <p>
            Completá tu experiencia con<br />nuestros Chocolates Gourmet<br />de
            primera calidad, perfectos<br />para acompañar tu taza de<br />café
          </p>
          <button class="index__section__complementos-button" type="button">
            Tentate
          </button>
        </div>
      </section>
      <!--/section complementos-->

      <!--form suscripción-->
      <section>
        <div class="index__suscribite">
          <h3 class="index__suscribite h3">
            Suscribite a nuestras promociones y novedades
          </h3>

          <div class="index__suscribite__form">
            <form class="suscribite__form">
              <div class="index__suscribite__form__icono">
                <i class="fa-solid fa-envelope"></i>
              </div>

              <div>
                <input class="index__suscribite__form__input" type="email" />
              </div>

              <div>
                <button class="index__suscribite__form__button" type="submit">
                  Enviar
                </button>
              </div>
            </form>

            <div class="index__suscribite__form__rrss">
              <i class="fa-brands fa-facebook-f"></i>
              <a
                href="https://www.instagram.com/cafeinatopia.coffee.shop/?hl=es-la"
                ><i class="fa-brands fa-instagram"></i
              ></a>
              <i class="fa-brands fa-youtube"></i>
              <i class="fa-brands fa-linkedin-in"></i>
            </div>
            </div>
            </div>


          </div>


          </div>
          </div>

        </div>

      </section>
      <!--/form suscripción-->
    </main>

    <%- include('./partials/footer.ejs') %>

    <!--bootstrap-->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>

    <!--swiper-->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <!--script-elegidos-->
    <script>
      const swiper = new Swiper(".swiper-elegidos", {
        // Optional parameters
        slidesPerView: 2,
        direction: "horizontal",
        loop: true,

        // Navigation arrows
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },

        breakpoints: {
          481: {
            slidesPerView: 3,
          },

          1280: {
            slidesPerView: 4,
          },
        },
      });
    </script>
    <!--script-elegidos-->
  </body>
</html>
