<div class="modal fade" id="exampleModal<%= id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Detalle del Producto: </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h4><%= nombre %></h4>
          <div class="row">
            <div class="col-12 col-md-6">
              <img class="mx-auto d-block my-3" src="/img/<%= imagen %>" alt="" style="max-width: 40%; height: auto;">
            </div>
            <div class="col-12 col-md-6">
              <ul class="list-group list-group-flush">
                <li class="list-group-item"> <strong>Id: </strong><%= id %></li>
                <li class="list-group-item"> <strong>Nombre: </strong><%= nombre %></li>
                <li class="list-group-item"> <strong> Description: </strong><%= description %></li>
                <li class="list-group-item"> <strong>Precio </strong><%= precio %></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  