<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head',{ title : "Dashboard" }) %>
  <%- include('./partials/scritps') %>
    <link rel="icon" type="image/x-icon" href="/public/img/fondo-accesorios-cafe.PNG">
    <title>Cafeinatopia -Dashboard</title>

    <body class="dashboard-body">

      <%- include('./partials/header-admin') %>

        <main class="container mt-3">
          <section class="row">
            <div class="col-12 col-md-10 mx-auto">
              <div class="card shadow rounded">
                <div class="card-header d-flex justify-content-between">
                  <h4 class="card-title">Productos</h4>
                  <a class="btn btn-outline-primary" href="/productos/agregar-articulos">Nuevo Producto</a>
                </div>
                <div class="p-3 pb-0 table-responsive">

                  <% if (productos.length) { %>
                    <table class="table table-striped">
                      <thead class="table-success">
                        <tr>
                          <th scope="col">ID</th>
                          <th scope="col">Nombre</th>
                          <th scope="col">Descripción</th>
                          <th scope="col">Acciones</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% productos.forEach(({id, nombre, descripcion, imagen, precio})=> { %>
                          <tr>
                            <th scope="row">
                              <%= id %>
                            </th>
                            <td>
                              <%= nombre %>
                            </td>
                            <td>
                              <%= descripcion %>
                            </td>
                            <td>
                              <div class="d-flex gap-2">
                                <a class="btn btn-sm btn-outline-primary" data-bs-toggle="modal"
                                  data-bs-target="#exampleModal<%= id %>">
                                  <i class="fa-solid fa-eye"></i></a>

                                <a class="btn btn-sm btn-outline-warning" href="/products/edit"><i
                                    class="fa-solid fa-pencil"></i></a>

                                <button type="button" data-bs-toggle="modal" data-bs-target="#modalDelete<%= id %>"
                                  class="btn btn-sm btn-outline-danger"><i class="fa-solid fa-trash"></i></button>

                                <%- include('./partials/modal-product-dashboard',{ id, nombre, descripcion, imagen,
                                  precio }) %>

                                  <%- include('./partials/modal-delet-products', { id, nombre }) %>

                              </div>
                            </td>

                          </tr>

                          <% }) %>

                            <% } else { %>
                              <div class="col-12">
                                <h3 class="products-title" style="color: tomato;">No hay productos que coincidan con esa
                                  búsqueda</h3>
                              </div>
                              <% } %>

                      </tbody>
                    </table>
                </div>
              </div>
            </div>
          </section>
        </main>
    </body>

</html>