<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head',{
    title: 'dashboard'
}) %>


<body>
<%- include('./partials/header-admin') %>
<main class="container">
    <section class="row my-5">
        <div class="col-12.col-md-10 mx-auto" >
            <div class="card">
                <div class="card-header d-flex justify-content-betwen">
                    <h4 class="cart-title">CafeBar</h4>
                    <a class="btn btn-dark" href="/productos/agregar">Nuevo</a>
                </div>
               <div class="card-body">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Direccion</th>
                        <th scope="col">Categoria</th>
                      </tr>
                    </thead>
                    <tbody>
                        <% productos.forEach(({id,nombre,Direccion,Categoria,) =>  {%>
                            <tr>
                                <th scope="row"><%= id %></th>
                                <td><%= Nombre %></td>
                                <td><%= Direccion %></td>
                                <td><%= Categoria %></td>
                              </tr>
                         
                        <% }) %>
                      
                     
                    </tbody>
                  </table>                
    </section>
</main>

<%- include('./partials/scripts') %>




</body>
</html>

